*,
body,
html {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Gilroy-Regular', sans-serif;
}

body {
  background-color: #F9F9FC;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
  url("fonts/Gilroy-Regular.ttf") format("opentype");
  font-weight: normal;
}
